<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slide Template</title>

    <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/white.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/plugin/highlight/monokai.css" />
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Template</h1>
        </section>
        <section>
          <h2>The End</h2>
        </section>
      </div>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
